{% extends "BaseBundle::layout.html.twig" %}
{% block content %}



		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div id="portlet-config" class="modal hide">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"></button>
					<h3>portlet Settings</h3>
				</div>
				<div class="modal-body">
					<p>Here will be a configuration form</p>
				</div>
			</div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->        
			<div class="container-fluid">            
			  
				{% include 'BaseBundle::alert.html.twig'  %}              
				<!-- BEGIN PAGE CONTENT-->          
 
				<div class="row-fluid">
					<div class="span6">


									<div class="portlet box blue ">
										<div class="portlet-title">
											<div class="caption"><i class="icon-reorder"></i>Employé</div>
											<div class="tools">
															   
											</div>
										</div>
										<div class="portlet-body form">
											<!-- BEGIN FORM-->
												<form action="{{ path('employee_update', { 'id': entity.id }) }}" id="form" method="post" {{ form_enctype(edit_form) }} class="form-horizontal form-bordered form-row-stripped" method="post">
												
												{{ form_row(edit_form._token) }} 

												<div class="control-group">
													<label class="control-label">Prénom</label>
													<div class="controls">
														
														{{ form_widget(edit_form.firstname,  {'attr': {'class': 'm-wrap span12', 'placeholder': ''} }) }}
														<span class="help-inline"></span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Prénom</label>
													<div class="controls">
														
														{{ form_widget(edit_form.lastname,  {'attr': {'class': 'm-wrap span12', 'placeholder': ''} }) }}
														<span class="help-inline"></span>
													</div>
												</div>
												</form>

												<div class="form-actions">
													<button type="submit" class="btn blue" onclick="$('form').submit()"><i class="icon-ok"></i> Enregistrer</button>
													<button type="submit" class="btn red" onclick="javascript: return  (confirm('Confirmez-vous la suppression ?') ? deleteaction(): false);"><i class="icon-trash"> Supprimer</i></button>

													<button type="button" class="btn" onclick="document.location.href='{{ path('employee') }}'"><i class="icon-undo"> Annuler</i></button>
												</div>
											<script>
												function deleteaction()
												{
													$('#form').attr('action', '{{ path('employee_delete', { 'id': entity.id }) }}' );
													$('#form').submit();
												}
											</script>
											<!-- END FORM-->  
										</div>
									</div>
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->


{% endblock %}
