{% extends "BaseBundle::layout.html.twig" %}
{% block content %}


        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>portlet Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE CONTAINER-->        
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">

                            
              
                {% include 'BaseBundle::alert.html.twig'  %}                  
                <!-- BEGIN PAGE CONTENT-->          
                <div class="row-fluid">
                    <div class="span6">


                                    <div class="portlet box blue ">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Business Unit</div>

                                        </div>
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                                <form action="{{ path('employee_update', { 'id': entity.id }) }}" id="form" method="post"  class="form-horizontal form-bordered form-row-stripped" method="post">

                                                <div class="control-group">
                                                    <label class="control-label">Nom</label>
                                                    <div class="controls">                                                        
                                                        {{ entity.lastname }} 
                                                        <span class="help-inline"></span>
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">Prénom</label>
                                                    <div class="controls">                                                        
                                                        {{ entity.firstname }} 
                                                        <span class="help-inline"></span>
                                                    </div>
                                                </div>

                                                </form>

                                                <div class="form-actions">
                                                    <button type="button" class="btn blue" onclick="document.location.href='{{ path('employee_edit', { 'id': entity.id }) }}'"><i class="icon-ok"></i> Modifier</button>
                                                    <button type="submit" class="btn red" onclick="javascript: return  (confirm('Confirmez-vous la suppression ?') ? deleteaction(): false);"><i class="icon-trash"> Supprimer</i></button>
                                                    <button type="button" class="btn" onclick="document.location.href='{{ path('employee') }}'"><i class="icon-undo"> Annuler</i></button>
                                                </div>

                                            <script>
                                                function deleteaction()
                                                {
                                                    $('#form').attr('action', '{{ path('employee_delete', { 'id': entity.id }) }}' );
                                                    $('#form').submit();
                                                }
                                            </script>
                                            
                                            <!-- END FORM-->  
                                        </div>
                                    </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    


{% endblock %}
